<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>PublicacionServlet</display-name>
    <servlet-name>PublicacionServlet</servlet-name>
    <servlet-class>servlets.PublicacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicacionServlet</servlet-name>
    <url-pattern>/PublicacionServlet</url-pattern>
  </servlet-mapping>
  <display-name>ProjectRestaurante</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>servlets.RegistroServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContenidoServlet</servlet-name>
    <servlet-class>servlets.ContenidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContenidoServlet</servlet-name>
    <url-pattern>/ContenidoServlet</url-pattern>
  </servlet-mapping>
</web-app>
</element>